@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');


#description_page {
    overflow: scroll;
    background: black; 
    
}

.bannerPlaceholder{
    width: 100%;
    height: 100px;
    background: lightgrey;
    font-size: 5vw;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.zodiac_sign h1 {
    font-family: 'Cinzel', serif;
    font-size: 10vw;
    text-align: center;
    color: lightgrey;
    text-shadow: 5px 5px 14px #FF0000;
}

.zodiac_sign:hover h1 {
    text-shadow: 5px 5px 14px #b3b0b0;
    transition: 0.5s;

}
 
p {
    color: white;
}


.moon{
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  background-color: rgb(207, 204, 204);
  border-radius: 50%;
  box-shadow: 5px 5px 70px white, inset 0 20px 30px 30px rgb(255, 255, 255), inset 30px 0 40px 70px  rgb(211, 210, 210);
  margin-top: -14%;
  margin-left: 35%;
  
}

.moon p {
    display: none;
    margin-left: 5%;
    padding-top: 30%;
}
    
.moon:hover{
  background-color: #00afec;
  box-shadow: inset -12px 5px 0 20px transparent;
  border-radius: .3rem;
  transition: 0.25s;
  background-color: transparent;
    border-radius: 50%;
    box-shadow: inset -12px 5px 0 3px white;
    box-shadow: 5px 5px 16px white;
}

.moon:hover p {
    display: block;
}

.sun {
    display:absolute;
    border-radius:50%;
    height:200px;
    width:200px;
    background:orange;
    box-shadow: 0 0 10px orange,
                  0 0 60px orange,
                  0 0 200px yellow,
                  inset 0 0 80px yellow;
    z-index:12;
    align:center;
    z-index:-99;
    margin-top: -14%;
    margin-left: 55%;
  }

  .sun p {
    display: none;
    margin-left: 5%;
    padding-top: 40%;
}

  .sun:hover{
    background:transparent;
    box-shadow: inset -12px 5px 0 3px rgb(156, 79, 79);
    box-shadow: 5px 5px 16px rgb(231, 54, 54);
    margin-top: -15%;
    transition: 0.5s;
  }

  .sun:hover p {
    display: block;
}