.background{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  
}

.modal-wrapper{
  width: 60%;
  height: 80%;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: 30%  10% 60%;
  grid-template-areas: 
  "title"
  "month"
  "horrorscope";
  /* display: flex;
  flex-direction: column; */
  position: relative;
  z-index: 10;
  border-radius: 10px;
  align-items: center;
  font-family: 'Cinzel', serif;
  font-size: 1.5em;
  z-index: 5;
  border: 2px solid white;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    opacity: 0.3;
    background-color: transparent;
    border: none;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.close-icon{
    font-size: 2em;
    cursor: pointer;
    color: white;
}

figure{
  /* grid-area: figure info; */
  /* height: 210px;
  width: 210px; */
  margin: auto; 
  justify-self: center;
  opacity: 40%;
  position: absolute;
  /* margin-left: 3em;
  margin-top: 3em;  */
  z-index: -1;
  
  
}
img{
  /* grid-area: figure;
  border-radius: 50%;
  height: 210px;
  width:210px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.zodiac-info{
  /* grid-area: info; */
}
.horrorscope{
  grid-area: horrorscope;
  width: 90%;
  text-align: center;
  margin: auto;
  /* margin-top: 0; */
  font-size: 2vw ;
  line-height: 1.25em;
}
.zodiac-sign{
  margin: auto;
  grid-area: title;
  margin-bottom: 0;
  font-size: 4em;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.month{
  margin: auto;
  grid-area: month;
  margin-bottom: 0;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60000, 0 0 60px #e60000, 0 0 70px #e60000;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #850000, 0 0 40px #850000, 0 0 50px #850000, 0 0 60px #850000, 0 0 70px #850000, 0 0 80px #850000;
  }
}

@media screen and (max-width: 900px) {
  .month {
    margin-top: -5%;
    
  }

  .modal-wrapper {
    width: 50%;
  }

  .horrorscope {
    padding: 0 2rem;
  }

  .zodiac-sign {
    font-size: 10vw;
  }

}

@media screen and (max-width: 600px) {

  .zodiac-sign {
    margin-top: 15%;
    font-size: 12vw;
  }

  .month {
    font-size: 4vw;
    margin-top: -3%;
  }

  .horrorscope {
    font-size: 3vw;
  }

  .modal-wrapper {
   width: 60%;
  }
  
}

@media screen and (max-width: 320px) {
  .modal-wrapper{
    width: 90%;
    height: 80%;
    font-size: 6vw;
  }

  .close {
    margin-top: -8%;
    margin-right: -10%;
  }

  .horrorscope{
    font-size: 5vw;
  }

  .month {
    font-size: 8vw;
    margin-top: -5%;
  }

}



