.background{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal-wrapper{
    width: 800px;
  height: 500px;
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  background: rgb(241, 146, 194);
  color: #000;
  display: grid;
  position: relative;
  z-index: 10;
  border-radius: 10px;
  align-items: center;

  z-index: 5;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    opacity: 0.3;
    background-color: transparent;
    border: none;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
.close-icon{
    font-size: 2em;
}
#Layer_1{
  fill:none;
  stroke:#FFFFFF;
  stroke-width:5;
  stroke-miterlimit:10;
}

@import url('https://fonts.googleapis.com/css?family=Asap+Condensed:600i,700');

body {
  background: #fafafa;
  display: flex;
  text-transform: uppercase;
  font-family: 'Asap Condensed', sans-serif;
}

h1 {
  font-size: 60px;
}
h3 {
  font-size: 26px;
}

.italic {
  font-style: italic;
}

.card {
  position: relative;
  margin: auto;
  height: 350px;
  width: 600px;
  text-align: center;
  background: linear-gradient(#E96874, #6E3663, #2B0830);
  border-radius: 2px;
  box-shadow: 0 6px 12px -3px rgba(0,0,0,.3);
  color: #fff;
  padding: 30px;
}

.card header {
  position: absolute;
  top: 31px;
  left: 0;
  width: 100%;
  padding: 0 10%;
  transform: translateY(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.card header > *:first-child {
  text-align: left;
}
.card header > *:last-child {
  text-align: right;
}

.zodiacIcon {
  font-size: 24px;
  position: relative;
}
.zodiacIcon:before,
.zodiacIcon:after {
  content: '';
  position: absolute;
  top: 50%;
  border-top: 3px solid currentColor;
  transform: translateY(-50%);
}

.zodiacIcon:before {
  right: 158px;
  width: 40%;
}
.zodiacIcon:after {
  left: 158px;
  width: 55%;
}

.zodiacIcon span {
  /*border: solid currentColor;
  border-width: 0 3px 3px 0;
  position: absolute;
  top: -22px;
  width: 69px;
  height: 70px;
  left: 50%;
  transform: translateX(-58%) rotate(58deg) skew(0deg, -30deg);*/
  display: block;
  position: absolute;
  width: 100%;
  top: calc(50% - 1px);
}

.horrorscope {
  position: relative;
  border: 3px solid currentColor;
  border-top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horrorscope:before,
.horrorscope:after {
  content: '';
  position: absolute;
  top: 0px;
  border-top: 3px solid currentColor;
  height: 0;
  width: 15px;
}
.horrorscope:before {
  left: -3px;
}
.horrorscope:after {
  right: -3px;
}











* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: .15em 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}